 @font-face {
  font-family: Uiua386;
  src: url(./Uiua386.woff);
}

body {
  background-color: #181825;
}
* {
  font-family: Uiua386;
}

.day-button:hover {
    text-decoration:underline;
}



a:link {
    color: #74c7ec;
}
a:visited {
    color: #74c7ec;
}
a:hover {
    color: #74c7ec;
}
a:active {
    color: #74c7ec;
}
      
